{% extends 'base_ver.html' %}
{% load static %}
{% block title %} {{subjects.name}} {% endblock %}

{% block image_block %}
<header class="info-header">
  <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-md-10 text-white">
        <!-- heading -->
        <h2 class="display-4 font-weight-bold  p-5 " style="color:#0bb32c; margin-top: 120px;" > {{subjects.name}} </h2>
        <div class="row d-flex justify-content-center text-center">
          <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">Home</a></li><p style="color: #000000;">&nbsp; / &nbsp;</p>
            <li><a href="{% url 'curriculum:standard_list' %}">Grades</a></li><p style="color: #000000;">&nbsp; / &nbsp;</p>
            <li><a href="{% url 'curriculum:subject_list' slug=subjects.standard.slug %}">Subjects - {{subjects.standard}}</a></li><p style="color: #000000;">&nbsp; / &nbsp;</p>
            <li style="color:#0bb32c; font-weight: bold;" >{{subjects.name}}</li>
          </ul>
        </div>

        <!-- divider -->
        <hr style="color:#0bb32c;">

        <!-- description -->
        <h6 class="white-text my-4" style="color: #000000;">Welcome to 'Lessons' in EducateLanka's Learning Management System (LMS). 'Lessons' is where the magic of learning happens. This feature is your gateway to structured, engaging, and interactive educational content. Explore, access, and immerse yourself in a world of knowledge, as 'Lessons' empowers educators to create captivating learning experiences, and students to embark on their educational journeys with ease.</h6>
  </div>
</header>
{% endblock %}


{% block content %}
<section id="best-features" class="text-center">
              <h2 class="mb-5 mt-5 font-weight-bold" style="color:#0bb32c;">Dive Deeper</h2>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
                <div class="col-md-8 mb-5">
                  <p class="grey-text">Select "Access Content" to access your study materials in the relevant lesson.</p>
                </div>
              </div>
              <!-- class row2 for cards -->
              <div class="row d-flex justify-content-center mb-3">
                {% for lesson in subjects.lessons.all %}
                <div class="col-sm-4 mb-4">
                  <div class="card box-shadow-hover" style="height: 200px; background-color: #d3d7db; border-color: #000000;">
                    <div class="card-body" >
                      <h5 class="card-title">Chapter-{{lesson.position}}: {{lesson.name}}</h5>
                      <a href="{% url 'curriculum:lesson_detail' slug=lesson.slug subject=subjects.slug standard=lesson.Standard.slug %}" >
                      <button type="button" class="button-les" style="background-color: #0bb32c; border-radius: 5px; margin-top: 10%;"><span>Access Content</span></button>
                      </a>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
        <div class="row d-flex justify-content-center mb-3">
          {% if user.user_profile.user_type == 'teacher' or user.is_superuser %}
           <a href="{% url 'curriculum:lesson_create' standard=subjects.standard.slug slug=subjects.slug %}"><button type="button" class="btn btn-success btn-lg btn-bloc" > Add a new lesson </button> </a>
          {% endif %}
        </div>
        <br>
        <br>
        <br>
        <br>
</section>
{%endblock%}
