{% extends 'base_ver.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}Lesson Create {% endblock %}

{% block image_block %}
<header class="info-header">
  <div id="page-intro" class="container-fluid d-flex align-items-center justify-content-center ">
    <div class="row d-flex justify-content-center text-center">
      <div class="col-md-10 text-white">
        <!-- heading -->
        <h2 class="display-4 font-weight-bold  p-5 " style="color:#0bb32c;  margin-top: 120px;" > Lesson Creation </h2>
        <div class="row d-flex justify-content-center text-center">
          <ul class="breadcrumb">
            <li><a href="{% url 'index' %}">Home</a></li> <p style="color: #000000;">&nbsp; / &nbsp;</p>
            <li><a href="{% url 'curriculum:standard_list' %}">Grades</a></li> <p style="color: #000000;">&nbsp; / &nbsp;</p>
            <li style="color:#0bb32c; font-weight: bold;" >Lesson Create</li>
          </ul>
        </div>

        <!-- divider -->
        <hr style="color:#0bb32c;">

        <!-- description -->
        <h6 class="white-text my-4" style="color: #000000;">Empower educators with the ability to craft engaging and dynamic learning experiences. Create, customize, and enrich lessons to inspire students on their educational path.</h6>
  </div>
</header>
{% endblock %}

{% block content %}

<section id="best-features" class="text-center">
              <h2 class="mb-5 font-weight-bold" style="color:#0bb32c;">Create a Lesson</h2>
              <!-- class row for description-->
              <div class="row d-flex justify-content-center mb-4">
                <!-- class column -->
                <div class="col-md-8">
                  <p class="grey-text">Bring your teaching to life with 'Lesson Add', a tool designed to help educators create engaging and impactful lessons for students.</p>
                </div>
              </div>
</section>

<form method="post" enctype="multipart/form-data">
  <div class="form-group">
  {% csrf_token %}
  {{form|crispy}}
  <input class="btn btn-success btn-lg btn-block" type="submit" value="Create Lesson">
  </div>
</form>
<br>
<br>
<br>
<br>

{% endblock %}
